.activity-show-background{
  background-color: rgb(247, 146, 146);
}

.activity-image{
  border-radius: 20px;
}

.activity-name{
  margin-top: 50px;
  padding-bottom: 15px;
}

.activity-description{
  font-size: 24px;
}
