//

h1.search-title {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.activities-container{
  font-weight: 200;
}


//carousel
img{
  object-fit: cover;
}

.d-block{
  height: 500px;
}

.background-color{
  background-color: #bee9b2;
  margin: 0;
}

//search bar
.search-bar{
  margin-top: 50px;
  width: 50%;
  margin-bottom: 50px;
  justify-content: center;
}
.search-box{
  width: 100%;
  display: inline;
  justify-content: center;
}

.form-control{
  border-radius: 20px !important;
  border: 2px solid #000 !important;
}

.btn{
  display: inline;
}

.btn-search{
  margin-left: 10px;
  width: 100px;
  background-color: #91c483;
  border-radius: 30px;
  border: 2px solid #000;
  padding: 5px;
}

.btn-search:hover{
  text-decoration: none;
  color: black;
  background-color:#00ff6e;
}

// card
.card-img-top{
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px !important;
}
.card {
  height: auto;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  border: 2px solid #000 !important;
  border-radius: 20px !important;
}

.card-body{
  display: flex;
  flex-direction: column;
}

// .card-title{
//   //font-family: 'Fredoka One', cursive;
// }

.card-text{
  font-weight: 400;
}

.card-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.main-container{
  margin-top: 100px;
}


// buttons
.btn-card{
  margin-left: 10px;
  width: 100px;
  background-color: #91c483;
  border-radius: 30px;
  border: 2px solid #000;
  padding: 10px 5px;
  color: black;
}

.btn-card:hover{
  text-decoration: none;
  color: black;
  background-color:#00ff6e;
}



// cards
.main-container{
  padding-top: 50px;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
