// .icon{
//   // font-family: 'Fredoka One', cursive;
//   font-size: 12px;
//   font-weight: bold;
// }

.activity-filter {
  padding: 10px 20px;
  display: inline-block;
  // border: 2px solid black;
  border-radius: 50px;
  color: black;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  vertical-align: top;
  border: 2px solid rgba($color: #000000, $alpha: 0);

  &:hover {
    text-decoration: none;
    color: black;
    border: 2px solid black;
  }
}

.activity-filter.active {
  border: 2px solid black;
  color: black;
  background-color: #91c483;;
}

.type-image{
  width: 30px;
  height: 30px;
  display: block;
  margin:0 auto;
}

.icon{
  font-size: 12px;
  font-weight: normal;
  margin:auto;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items:flex-start;
}

.card-container {
  padding-top: 100px;
}
