.icon{
  font-family: 'Fredoka One', cursive;
}

.activity-filter {
  padding: 10px 20px;
  display: inline-block;
  // border: 2px solid black;
  border-radius: 50px;
  color: black;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: black;
    border: 2px solid black;
<<<<<<< HEAD
=======
    border: 2px solid black;
>>>>>>> 960f4531854d810a88e274ae1584d6ece7b01759
  }
}

.activity-filter.active {
  border: 2px solid black;
  color: black;
  background-color: #91c483;;
}

.type-image{
  width: 30px;
  height: 30px;
  display: block;
  margin:0 auto;
}

.icon{
  margin:auto;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
