.quiz {
  padding-top: 10%;
  background-color: rgb(20, 63, 107);
  background-size: cover;
  height: 80vh;
  color: white;
}

.wheel {
  background-color: rgb(245, 83, 83);
  background-size: cover;
  height:60vh;
  color: black;
}


.explore {
  padding-top: 5%;
  background-color: rgb(254, 177, 57);
  background-size: cover;
  height: 80vh;
}

.button_home {
  width: fit-content;
  font-size: 16px;
  font-weight: 900;
  padding: 14px;
  background: #F6F54D;
  border-radius: 30px;
  color: black;
  width: 120px;
  text-align: center;
}

.button_home:hover {
  text-decoration: none;
}


// .link {
//   padding: 15px 30px;
//   margin: 10px;
//   display: inline-block;
//   color: #000;
//   background: #ffce54;
//   text-decoration: none;
// }

// .link:hover {
//   text-decoration: none;
//   color: #000;
// }

/*===================*/
/* BOUNCE OUT
/*===================*/

.bounce-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.bounce-out-on-hover:hover,
.bounce-out-on-hover:focus,
.bounce-out-on-hover:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
