h1.title-home {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  color: black;
  display: inline-flex;
  align-items:flex-start;
  padding-bottom: 20px;
}

h4.description-home {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.quiz {
  background-color: rgb(255, 225, 98);
  background-size: cover;
  height: 80vh;
  color: white;
  margin-bottom: -40px;
}

.quiz-main {
  padding-top: 40px;
}

.wheel {
  background-color: rgb(255, 100, 100);
  background-size: cover;
  height:40vh;
  color: black;
}


.explore {
  margin-top: -30px;
  background-color: rgb(145, 196, 131);
  background-size: cover;
  height: 70vh;
}

.button_home {
  display: inline-block;
  width: auto;
  font-size: 16px;
  font-weight: 900;
  padding: 14px;
  background: none;
  border-radius: 30px;
  color: black;
  width: 120px;
  text-align: center;
  border: 5px solid #000;
}

.btn-quiz {
  background:rgb(255, 238, 0)
}

.btn-wheel {
  background:rgb(251, 0, 88);
}

.btn-explore {
  background:rgb(0, 255, 110);
}

.button_home:hover {
  text-decoration: none;
  color: black;
}


// .link {
//   padding: 15px 30px;
//   margin: 10px;
//   display: inline-block;
//   color: #000;
//   background: #ffce54;
//   text-decoration: none;
// }

// .link:hover {
//   text-decoration: none;
//   color: #000;
// }

/*===================*/
/* BOUNCE OUT
/*===================*/

.bounce-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.bounce-out-on-hover:hover,
.bounce-out-on-hover:focus,
.bounce-out-on-hover:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
