// .navbar {
//   background: black;
// }

// .btn-login {
//   color:black;
//   border: 2px solid #000;
//   border-radius: 5px;
//   background: none;
//   width: fit-content;
// }

// .btn-login:hover {
//   background: black;
//   color: white;
// }

.nav-link {
  border: 2px solid transparent;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 900;
  color: black !important;
  align-items: flex-end;
  margin: 0 5px;
}

.nav-link:hover {
  border: 2px solid #000;
  border-radius: 30px;
  }

.login {
  border: 2px solid #000;
  border-radius: 30px;
}

.login:hover {
  background-color: black;
  color: white !important;
}
