.background-color-profile{
  background-color: #fdea96;
}
.greeting{
  padding-bottom: 50px;
}

// personality card
.user-personality{
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  background-color:#f7f3e4;
}

.personality-img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 25px;
}

ul li {
  display:inline;
}

.personality-description{
  margin-top: 40px;
  padding: 0px 150px;
  font-size: 20px;
}

// cards
.card {
  height: auto;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.card-body{
  display: flex;
  flex-direction: column;
}

.card-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.profile-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}


.fa-heart{
  color: black;
  font-size: 20px;
  transition: 0.5s;
}

.fa-heart-clicked{
  color: red;
  font-size: 26px;
  transition: 0.5s;
  font-weight: 900;
}

// formatting
.profile-titles{
  padding-bottom: 20px;
}
.recommendation{
  padding-top: 150px;
}

.favourite{
  padding-top: 150px;
}

// button
.btn-recommended{
  margin-left: 10px;
  width: 100px;
  background-color: #FFE162;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 5px;
  color: black;
}

.btn-recommended:hover{
  text-decoration: none;
  color: black;
  background-color: rgb(255, 238, 0);
}

.btn-favourite{
  margin-left: 10px;
  width: 100px;
  background-color: #91c483;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 5px;
}

.btn-favourite:hover{
  text-decoration: none;
  color: black;
  background-color:#00ff6e;
}
