h1{
  padding-bottom: 50px;
}
.user-personality{
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 100px;
}

.personality-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px;
}

ul li {
  display:inline;
}

h2{
  padding-bottom: 20px;
}

.card {
  height: auto;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.card-body{
  display: flex;
  flex-direction: column;
}

.card-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.user-favourites{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}


.fa-heart{
  color: black;
  font-size: 20px;
  transition: 0.5s;
}

.fa-heart-clicked{
  color: red;
  font-size: 26px;
  transition: 0.5s;
}
