.celeb-image {
  width: 100px;
  height: 100px;
}

.btn-answers-yellow {
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #FFEE00;
  padding: 10px;
  margin: 0px 10px;
}

.btn-answers-yellow:hover {
  background-color: black;
  color: white;
}

.btn-answers-red-emojis {
  font-size: 50px;
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #FB0057;
  padding: 10px;
  margin: 0px 30px;
}

.btn-answers-red-emojis:hover {
  background-color: black;
  color: white;
}

.btn-answers-red {
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #ff2a75;
  padding: 10px;
  margin: 0px 10px;
}

.btn-answers-red:hover {
  background-color: black;
  color: white;
}

.btn-answers-green {
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #04FE6E;
  padding: 10px;
  margin: 0px 10px;
}

.btn-answers-green:hover {
  background-color: black;
  color: white;
}

.btn-images {
  width: 200px;
  height: 200px;
  background: none;
  border: none;
  margin-right: 50px;
}

// .btn-answers-images {
//   border-radius: 30px;
//   border: 2px solid #000;
//   background-color: #04FE6E;
// }

.btn-answers-img-green {
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #04FE6E;
  margin-top: 50px;
  padding: 10px;
}

.btn-answers-img-green:hover {
  background-color: black;
  color: white;
}

.btn-answers-img-red {
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #FB0057;
  margin-top: 50px;
  padding: 10px;
}

.btn-answers-img-red:hover {
  background-color: black;
  color: white;
}


// sign up pop up
.modal-content {
  border: 5px solid #000;
  border-radius: 30px;
}

.modal-button {
  border-radius: 30px;
  background-color: black;
  border: 5px solid #000;
  color: white;
  padding: 5px 10px;
  font-weight: bold;;
}

.modal-button:hover {
  background-color: white;
  color: black;
  border: 5px solid #000;
}
