<div class="quiz">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="text col-sm-7">
      <h1 style="font-size: 50px">Discover Your <span style= "color: #ff008c">Giv</span> Personality</h1>
      <h4>Our world renown quiz matches your personality with volunteering activites in your area. Join our community today and let everyone know how you can give back.</h4>
      <br>
      <a class="button_home bounce-out-on-hover" href="##" role="button">Let's start!</a>
    </div>
    <div class="col-sm-1"></div>
    <div class="image col-sm-4">
      <img src="https://img.freepik.com/free-vector/people-holding-heart-hand-icons_53876-66152.jpg?t=st=1651551581~exp=1651552181~hmac=d998b498aeee9c76d4af5bcdf992ff188e906e1505546c9870f7ed3c98f6d6fd&w=1060" alt="" width=120%>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="rgb(247, 255, 132)" fill-opacity="1" d="M0,96L48,101.3C96,107,192,117,288,149.3C384,181,480,235,576,218.7C672,203,768,117,864,117.3C960,117,1056,203,1152,218.7C1248,235,1344,181,1392,154.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  <path fill="rgb(255, 182, 126)" fill-opacity="1" d="M0,96L48,101.3C96,107,192,117,288,149.3C384,181,480,235,576,218.7C672,203,768,117,864,117.3C960,117,1056,203,1152,218.7C1248,235,1344,181,1392,154.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>


<div class="wheel">
  <div class="container container d-flex justify-content-between align-items-center">
    <div class="text col-sm-7">
        <h1 style="font-size: 50px">Take a spin</h1>
        <h4>Sick of making decisions? Put your feet up and relax! Let our wheel pick the activity for you.</h4>
        <br>
        <a class="button_home bounce-out-on-hover" href="##" role="button">Spin me</a>
    </div>
    <div class="col-sm-1"></div>
    <div class="image col-sm-4">
        <img src="https://img.freepik.com/free-vector/social-team-helping-charity-sharing-hope_74855-6660.jpg?t=st=1651739258~exp=1651739858~hmac=c8ff3ee27df5fa290cf8221ec7954bc82a46cf2e6ee7c1a3f28c94c626189176&w=1480" alt="" width=120%>
      </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="rgb(255, 182, 126)" fill-opacity="1" d="M0,128L48,154.7C96,181,192,235,288,218.7C384,203,480,117,576,117.3C672,117,768,203,864,250.7C960,299,1056,309,1152,282.7C1248,256,1344,192,1392,160L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  <path fill="rgb(143, 248, 255)" fill-opacity="1" d="M0,128L48,154.7C96,181,192,235,288,218.7C384,203,480,117,576,117.3C672,117,768,203,864,250.7C960,299,1056,309,1152,282.7C1248,256,1344,192,1392,160L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>

<div class="explore">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="text col-sm-7">
      <h1 style="font-size: 50px">Explore our activities</h1>
      <h4>Love to be in control? Explore our activities, search and filter to your desire.</h4>
      <br>
      <a class="button_home bounce-out-on-hover" href="##" role="button">Explore</a>
    </div>
    <div class="col-sm-1"></div>
    <div class="image col-sm-4">
        <img src="https://img.freepik.com/free-vector/people-volunteering-donating-money_53876-43052.jpg?t=st=1651739258~exp=1651739858~hmac=00099fe30fc6be4a4bc307ce98a9628197e8fe8bb7e30ff5c1f6b163903caf9f&w=1380" alt="" width=120%>
      </div>
    </div>
</div>
