<div class="quiz">
  <div class="container d-flex align-items-center">
    <div class="text col-sm-7">
      <h1 class="title-home">Discover Your Giv Personality</h1>
      <h4 class="description-home">We match the right volunteering activities to your profile, so you can start giving back and having fun.</h4>
      <br>
      <a class="button_home bounce-out-on-hover btn-quiz" href="/quiz" role="button">Let's go!</a>
    </div>
    <%# <div class="col-sm-1"></div> %>
    <div class="image col-sm-5">
      <img src="<%= asset_path( 'quiz_illustration.png' ) %>" alt="" width=100%/>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="rgb(255, 225, 98)" fill-opacity="1" d="M0,96L48,101.3C96,107,192,117,288,149.3C384,181,480,235,576,218.7C672,203,768,117,864,117.3C960,117,1056,203,1152,218.7C1248,235,1344,181,1392,154.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  <path fill="rgb(255, 100, 100)" fill-opacity="1" d="M0,96L48,101.3C96,107,192,117,288,149.3C384,181,480,235,576,218.7C672,203,768,117,864,117.3C960,117,1056,203,1152,218.7C1248,235,1344,181,1392,154.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>


<div class="wheel">
  <div class="container d-flex align-items-center">
    <div class="image col-sm-3">
        <img src="<%= asset_path( 'spinning_cat.gif' ) %>" alt="" width=100%/>
    </div>
    <div class="col-sm-2"></div>
    <div class="text col-sm-7">
      <h1 class="title-home">Take a spin</h1>
      <h4 class="description-home">Sick of making decisions? Put your feet up and relax! Let our wheel pick the activity for you.</h4>
      <br>
      <a class="button_home bounce-out-on-hover btn-wheel" href="/wheel" role="button">Spin me</a>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="rgb(255, 100, 100)" fill-opacity="1" d="M0,192L40,186.7C80,181,160,171,240,154.7C320,139,400,117,480,122.7C560,128,640,160,720,144C800,128,880,64,960,64C1040,64,1120,128,1200,154.7C1280,181,1360,171,1400,165.3L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
  <path fill="rgb(145, 196, 131)" fill-opacity="1" d="M0,192L40,186.7C80,181,160,171,240,154.7C320,139,400,117,480,122.7C560,128,640,160,720,144C800,128,880,64,960,64C1040,64,1120,128,1200,154.7C1280,181,1360,171,1400,165.3L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
</svg>

<div class="explore">
  <div class="container d-flex align-items-center">
    <div class="text col-sm-7">
      <h1 class="title-home">Explore our activities</h1>
      <h4 class="description-home">Love to be in control? Explore our activities, search and filter to your desire.</h4>
      <br>
      <a class="button_home bounce-out-on-hover btn-explore" href="/activities" role="button">Explore</a>
    </div>
    <div class="col-sm-1"></div>
    <div class="image col-sm-4">
        <img src="<%= asset_path( 'explore_illustration.png' ) %>" alt="" width=100%/>
    </div>
    </div>
</div>
