<div class="container">
  <div class="row">

    <div class="col justify-content-center body">
      <%# <input type="radio" name="position" checked />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" /> %>

      <main id="carousel">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      <main>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary" id="before">Before</button>
      <button type="button" class="btn btn-primary" id="next">Next</button>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-primary" id="random">Randomise!</button>
      </div>
    </div>

    </div>
  </div>

</div>

<%= javascript_pack_tag 'wheel' %>
