<br><br><br><br><br>
<div class="container">
  <div class="row">

    <div class="col justify-content-center body">
      <main id="carousel">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      <main>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn-lg btn-dark" id="random">Spin me!</button>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary" id="before" style="visibility: hidden">Before</button>
      <button type="button" class="btn btn-primary" id="next" style="visibility: hidden">Next</button>
      </div>
    </div>

    </div>
  </div>

</div>

<%= javascript_pack_tag 'wheel' %>
