//carousel
img{
  object-fit: cover;
}

.d-block{
  height: 500px;
}

// search bar
.title{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.search-bars{
  display: flex;
  justify-content: space-evenly;
}
.search-box{
  width: 400px;
  display: inline;
}
.btn{
  display: inline;
}

// card
.card-img-top{
  height: 200px;
  object-fit: cover;
  padding: 10px;
}
.card {
  height: auto;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.card-body{
  display: flex;
  flex-direction: column;
}

.card-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.far{
  font-size: 20px;
  color: black;
}


// cards
.main-container{
  padding-top: 50px;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
