<div class="activity-show-background">
  <%= render '/shared/navbar' %>
  <div class="container activity-main">
    <div class="activity-name">
      <h1><span class="activity-name-title"><%= @activity.name %></span></h1>
    </div>
    <img src="<%= @activity.image %>" alt="" class="activity-image" />
    <p class="activity-description"><%= @activity.description %></p>
  </div>

  <div class="container activity-connect">
    <h2 class="connect-title"><span>Connect with these organisations</span></h2>
    <div class="container border-connect">
      <ul>
        <p><li>ORGANISATION NAME</li></p>
        <p><li>ORGANISATION NAME</li></p>
      </ul>
    </div>
  </div>
</div>
